<h2><%= @recipe.title %></h2>

<% if session["user_id"] == @recipe.user_id.to_i %>
  <%= link_to "(Edit...)", "/recipes/#{@recipe.id}/edit" %>
  <%= link_to "(Delete Recipe)", "/recipes/#{@recipe.id}", :method => 'delete' %>
<% end %>

<% if @review.errors.present? %>
<ul>
    <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <%end%>
</ul>

<% end %>

<p>
  <span class="rating">Rated: <%= @recipe.stars %></span>
  "created at "
  <%= @recipe.date %>
  <% puts @recipe.stars %>
  <% @recipe.stars.times do %>
    &#9733;
  <% end %>
  <% (5 - @recipe.stars).times do %>
    &#9734;
<% end %>
<%= "(#{@recipe.num_reviews} reviews)" %>

</p>
  <% if @tags.present? %>
  <h5>Tags</h5>
  <% @tags.each do |tag| %>
  	<ul>
  		<li>
  			<%= link_to tag.name, tag_url(tag.id) %>
  		</li>
  	</ul>
  <% end %>
  <% end %>


<%= image_tag @recipe.photo_url %>

<p><%= @recipe.instruction %></p>

<% if @reviews.present? %>
    <h3>comments</h3>
<table>
    <% @reviews.each do |review| %>
        <tr>
            <% (review.stars).times do %>
                &#9734;
            <%end%>
            <%= review.title %>
            (<%= review.date %>)
            <% if session["user_id"].present? and session["user_id"].to_i==review.user_id %>
                <%= link_to "(Delete)", delete_review_path(:id => review.id, :recipe_id => @recipe.id), :method => :delete  %>
            <%end%>
            <br>
            <%= review.comment %>
        </tr>
        <br>
        <br>
    <%end%>
</table>
<% end %>

<%= form_tag "/reviews" do%>
    <%= hidden_field_tag :recipe_id, @recipe.id %>
    <div>
        <%= label_tag :title %>
        <%= text_field_tag :title, @review.title, size: '50', placeholder: 'Example: Delicious' %>
    </div>
    <div>
        <%= label_tag :stars %>
        <%= select_tag :stars, options_for_select(1..5, 1) %>
    </div>
    <div>
        <%= label_tag :comment %>
        <br>
        <% puts @review.comment %>
        <%= text_area_tag :comment, @review.comment, placeholder: "Put your comment here please.", rows: 5, cols: 80, escape: false%>
    </div>
    <div>
        <%= submit_tag "Post review"%>
    </div>
<% end %>


